.btn {
    margin-right: 5px;
}

.markedAsDone {
    text-decoration: line-through;
    color: #777;
}

table{
    display: flex;
    flex-direction: column;
}

tr{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    border-bottom: 1px solid rgb(151, 151, 151);
}

td{
    padding-bottom: 10px;
}

.tableActions{
    width: 105px;
}
.todoForm{
    padding-bottom: 60px;
}